/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style for header */
header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
.container{
    margin-left: 200px;
    margin-top: 30px;
    margin-right: 200px;
}
/* General section styling */
section {
    padding: 2rem;
    margin: 2rem 0;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.mission img{
    height: 400px;
    width: 400px;
}
/* Style for headings within sections */
h2 {
    margin-bottom: 1rem;
}

/* Style for unordered lists */
ul {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-top: 1rem;
}

/* Style for footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}
